/* These are the aprroved styles for the site */

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    color: rgb(106, 88, 88);
    background-color: rgb(229, 229, 229);
    font-weight: lighter;

}
 
a {
    color: blue;
    text-decoration: none;
}
